<div id="footer">
	<div class="other-link">
	<%= link_to "คำถามที่พบบ่อย", faqs_path %>  
	<%= link_to "ติดต่อเรา", "" %>  
	<%= link_to "แผนที่", map_homes_path %>  
	<%= link_to "เกี่ยวกับเรา", "", class: "border-none" %> </div>
	<br>
	<div>&copy; <%= Time.now.year %> by KhonKaen Furniture</div>
</div>