<div class='clearfix'>
  <div id="head-menu" class='clearfix left'>
    <ul class="nav nav-tabs">
      <li class='<%= "active" if controller_name == "homes" && action_name == "index" %>'>
        <%= link_to "หน้าหลัก", homes_path, class: "bold" %>
      </li>
      <li class='dropdown <%= "active" if controller_name == "categories" %>'>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          เฟอนิเจอร์
          <b class='caret'></b>
        </a>
        <ul class="dropdown-menu">
          <% @menu_categories.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </li>
      <li class='dropdown <%= "active" if controller_name == "rooms" %>'>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          ห้อง
          <b class='caret'></b>
        </a>
        <ul class="dropdown-menu">
          <% @menu_rooms.each do |room| %>
            <li><%= link_to room.name, room_path(room) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>

  <div class='other-link right'>

    <ul class="nav nav-tabs">
      <li class='<%= "active" if controller_name == "faqs" %>'>
        <%= link_to "คำถามที่พบบ่อย", faqs_path %> 
      </li>
      <li class='<%= "active" if action_name == "contact" %>'>
        <%= link_to "ติดต่อเรา", contact_homes_path %> 
      </li>
      <li class='<%= "active" if action_name == "map" %>'>
        <%= link_to "แผนที่", map_homes_path %>  
      </li>
      <li class='<%= "active" if action_name == "about" %>'>
        <%= link_to "เกี่ยวกับเรา", about_homes_path %>
      </li>
      <li class='<%= "active" if controller_name == "sitemaps" %>'>
        <%= link_to "sitemap", sitemaps_path %>
      </li>
    </ul>  
  </div>
</div>