<ul class="thumbnails">
    <li class="span4">
	    <a href="" class="thumbnail">
    		<p class="corner-left">฿690</p>
    		<%= image_tag "color-basic-02.gif", style: "width: 159px; height: 159px;" %>
    		<p class="text-center product-name">Test 01</p>
    	</a>
    </li>
    <li class="span4">
	    <a href="" class="thumbnail">
    		<p class="corner-left">฿690</p>
    		<%= image_tag "color-basic-02.gif", style: "width: 159px; height: 159px;" %>
    		<p class="text-center product-name">Test 01</p>
    	</a>
    </li>
    <li class="span4">
	    <a href="" class="thumbnail">
    		<p class="corner-left">฿690</p>
    		<%= image_tag "color-basic-02.gif", style: "width: 159px; height: 159px;" %>
    		<p class="text-center product-name">Test 01</p>
    	</a>
    </li>
    <li class="span4">
	    <a href="" class="thumbnail">
    		<p class="corner-left">฿690</p>
    		<%= image_tag "color-basic-02.gif", style: "width: 159px; height: 159px;" %>
    		<p class="text-center product-name">Test 01</p>
    	</a>
    </li>
    <li class="span4">
	    <a href="" class="thumbnail">
    		<p class="corner-left">฿690</p>
    		<%= image_tag "color-basic-02.gif", style: "width: 159px; height: 159px;" %>
    		<p class="text-center product-name">Test 01</p>
    	</a>
    </li>
</ul>