<div id="myCarousel" class="carousel slid">
    <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><%= image_tag "logo_2.jpg", class: "img-slider" %></div>
      <div class="item"><%= image_tag "map.png", class: "img-slider" %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Promotion -->
<div id="promotions" class="border-bottom">
	<!-- <p class="text-title bold left">โปรโมชั่น</p> -->
	<!-- <hr>	 -->
</div>

<div class="products clearfix left-right-15px">
	<ul class="main-thum">
	    <li>
        <%= link_to newest_products_homes_path do %>
          <div class="image_group">
            <%= image_tag "IMG_0021_1.jpg" %>
          </div>
  		    <!-- <h5 class="text-center">สินค้ามาใหม่</h5>
  		    <p class="text-center italic">หลากหลายรายการ รอให้คุณเลือกซื้อเลือกชม</p> -->
		    <% end %>
	    </li>
	    <li>
		    <%= link_to promotions_homes_path do %>
          <div class="image_group">
  		      <%= image_tag "IMG_0002_2.jpg" %>
          </div>
  		    <!-- <h5 class="text-center">โปรโมชั่น</h5>
  		    <p class="text-center italic">พบกับสินค้ามากมายลดราคาประจำเดือนนี้</p> -->
		    <% end %>
	    </li>
	    <li>
        <%= link_to best_sellers_homes_path do %>
          <div class="image_group">
  		      <%= image_tag "IMG_0109.jpg" %>
          </div>
  		    <!-- <h5 class="text-center">สินค้าขายดี</h5>
  		    <p class="text-center italic">สินค้ายอดนิยมที่ผู้คนเลือกซื้อ</p> -->
		    <% end %>
	    </li>
    </ul>
</div>
<!-- Promotion -->

<div class="products product-items clearfix left">
  <table>
  <% (@new_arrivals || []).each_with_index do |product, index| %>

  <% if index.to_i == (@new_arrivals.count - 1) %>
    <tr class="no-bottom-border">
  <% else %>
    <tr>
  <% end %>
      <td class="photos"><%= image_tag product.photos.first.photo.thumb.url if product.photos.first.present? %></td>
      <td class="pro-details">
        <p class="bold fov-name"><%= product.name %></p>
        <p class='description'><%= truncate(product.description, :length => 80) %></p>
        <p><%= link_to "see more", product_path(product, newest_products: true), class: "more" %></p>
        <span class='hidden'><%= product.view %></span>
      </td>
    </tr>
  
  <% end %>
  </table>
</div>

<div class='wellsave-map left'>
<div class="other-details">
  <h5>ข้อมูลการจัดส่ง</h5>
  <br />
  <p class='indent'>wellsave จัดส่งสินค้าให้ลูกค้าฟรีในยอดการสั่งซื้อ 5,000 บาทขึ้นไป และ จัดส่งฟรีในระยะ 30 กิโลเมตร และ จะมีคิดค่าขนส่ง ในกรณีเกิน คิดเป็น 20 กิโลเมตร 300 บาท บริการจัดส่งภายในวันสั่งซื้อ (กรณีมีสินค้า )</p>
</div>
<div class="other-details">
  <div id="map-canvas"></div>
</div>
<div></div>
</div>
<%#= product_path(fov, favorite: true) %>
<!-- Best Sellers -->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
  var map;
  var wellsave = new google.maps.LatLng(16.404005, 102.815857);
  function initialize() {
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(16.404005, 102.815857)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    marker = new google.maps.Marker({
      position: wellsave,
      map: map,
      title: 'Wellsave Furniture'
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  
</script>

<style>
  html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  #map-canvas {
    height: 378px;
    width: 100%;
  }
</style>