<div id="myCarousel" class="carousel slid">
    <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
	    <div class="active item"><%= image_tag "slide1.jpg", class: "img-slider" %></div>
      <div class="item"><%= image_tag "slide2.jpg", class: "img-slider" %></div>
	    <div class="item"><%= image_tag "slide3.jpg", class: "img-slider" %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Promotion -->
<div id="promotions" class="border-bottom">
	<!-- <p class="text-title bold left">โปรโมชั่น</p> -->
	<!-- <hr>	 -->
</div>

<div class="products clearfix">
	<ul class="thumbnails main-thum">
	    <li class="span4">
		    <a href="<%= newest_products_homes_path %>" class="thumbnail">
        <div class="image_group">
            <%= image_tag("test-01.jpg") %>
        </div>
		    <h5 class="text-center">สินค้ามาใหม่</h5>
		    <p class="text-center">หลากหลายรายการ รอให้คุณเลือกซื้อเลือกชม</p>
		    </a>
	    </li>
	    <li class="span4">
		    <%= link_to promotions_homes_path, class: "thumbnail" do %>
		    <%= image_tag "test-02.jpg" %>
		    <h5 class="text-center">โปรโมชั่น</h5>
		    <p class="text-center">พบกับสินค้ามากมายลดราคาประจำเดือนนี้</p>
		    <% end %>
	    </li>
	    <li class="span4">
		    <a href="<%= best_sellers_homes_path %>" class="thumbnail">
		    <%= image_tag "test-03.jpg" %>
		    <h5 class="text-center">สินค้าขายดี</h5>
		    <p class="text-center">สินค้ายอดนิยมที่ผู้คนเลือกซื้อ</p>
		    </a>
	    </li>
    </ul>
</div>
<!-- Promotion -->

<!-- Best Sellers -->
<div id="best-sellers"  class="border-bottom">
	<p class="text-title bold left">ยอดชมมากที่สุด</p>
	<!-- <hr class="separate-title">	 -->
</div>

<div class="products clearfix">
	<ul class="thumbnails">
		<% (@favorites || []).each do |fov| %>
	    <li class="span4">
	    	<a href="<%= product_path(fov, favorite: true) %>" class="thumbnail">
	    		<p class="corner-left"><%= number_to_currency(fov.price, unit: "฿", precision: 0) %></p>
	    		<%= image_tag fov.photos.first.photo.thumb.url if fov.photos.first.present? %>
	    		<p class="text-center product-name"><%= fov.name %>&nbsp;(ยอดชม:&nbsp;<%= fov.view %>)</p>
          <!-- <p class="text-center">ยอดชม:&nbsp;<%#= fov.view %></p> -->
	    	</a>
	    </li>
	    <% end %>
    </ul>
</div>
<!-- Best Sellers -->