
<div id="show-products-photo">
<div class="border-bottom">
  <h5><%= @product.name %>&nbsp;(<%= "รหัสสินค้า #{@product.code}" %>)</h5>
</div>
<br>
<ul class="pager">
	<li class="previous">
	<% if @product_ids.first != @product.id %>
		<% if @category_id.present? %>
			<%= link_to "ย้อนหลับ", product_path(@prev_id, categoryid: @category_id)  %>
		<% elsif @room_id.present? %>
			<%= link_to "ย้อนหลับ", product_path(@prev_id, roomid: @room_id) %>
		<% elsif @best_sellers.present? %>
			<%= link_to "ย้อนหลับ", product_path(@prev_id, best_sellers: true) %>
		<% elsif @newest_products.present? %>
			<%= link_to "ย้อนหลับ", product_path(@prev_id, newest_products: true) %>
		<% elsif @favorite.present? %>
			<%= link_to "ย้อนหลับ", product_path(@prev_id, favorite: true) %>
		<% else %>
			<%= link_to "ย้อนหลับ", product_path(@prev_id) %>
		<% end %>
	<% else %>
		<span>ย้อนหลับ</span>
	<% end %>
	</li>

	<li class="next">
	<% if @product_ids.last != @product.id %>
		<% if @category_id.present? %>
			<%= link_to "ถัดไป", product_path(@next_id, categoryid: @category_id)  %>
		<% elsif @room_id.present? %>
			<%= link_to "ถัดไป", product_path(@next_id, roomid: @room_id) %>
		<% elsif @best_sellers.present? %>
			<%= link_to "ถัดไป", product_path(@next_id, best_sellers: true) %>
		<% elsif @newest_products.present? %>
			<%= link_to "ถัดไป", product_path(@next_id, newest_products: true) %>
		<% elsif @favorite.present? %>
			<%= link_to "ถัดไป", product_path(@next_id, favorite: true) %>
		<% else %>
			<%= link_to "ถัดไป", product_path(@next_id) %>
		<% end %>
	<% else %>
		<span>ถัดไป</span>
	<% end %>
	</li>

	<div id="galleria">
	    <% (@product.photos || []).each do |p| %>
			<%= image_tag p.photo.url %>
		<% end %>
	</div>
</ul>
<br>
<br>
</div>

<div>

  <div class="suggestion">
    <p class="bold">ราคา</p>
  </div>

  <div class="well p-details">
    <p><%= number_to_currency(@product.price, unit: "฿", precision: 0) %></p>
  </div>
  
  <% if @product.detail.present? %>
  <div class="suggestion">
  	<p class="bold">รายละเอียด</p>
  </div>

  <div class="well p-details">
  	<p><%= @product.detail.gsub(/\n/, '<br>').html_safe %></p>
  </div>
  <% end %>

</div>

<div class="product-details">
	<% if @product.description.present? %>
	<div>
		<p class="bold">เพิ่มเติม</p>
	</div>

	<div>
		<p><%= @product.description.gsub(/\n/, '<br>').html_safe %></p>
	</div>
	<% end %>
</div>

<script>
    Galleria.loadTheme('/assets/galleria.classic.js');
    Galleria.run('#galleria');
</script>

<style>
    #galleria { 
    	width: 750px; 
    	height: 450px; 
    	background: #FFF;
    	clear: both;
    }
  /* Mobile portrait */
	@media only screen and (max-width: 360px) {
    #galleria { 
    	width: 300px; 
    	height: 300px;
    }
	}
  /* Mobile landscape and Phabet portrait*/
	@media only screen and (min-width: 361px) and (max-width: 640px) {
    #galleria { 
    	width: 500px; 
    	height: 500px;
    }
	}
  /* Phabet landscape */
	@media only screen and (min-width: 641px) and (max-width: 768px) {
    #galleria { 
    	width: 500px; 
    	height: 500px;
    }
	}
	/* Tablet */
	@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #galleria { 
    	width: 700px; 
    	height: 700px;
    }
	}
</style>