<!DOCTYPE html>
<html>
<head>
  <title>ขาย เฟอร์นิเจอร์ ของแต่งบ้าน ขอนแก่น ภาคอีสาน เวลเซฟ เฟอร์นิเจอร์ ราคาถูก คุณภาพดี มีให้เลือกมากมาย</title>
  <meta name="keywords" content="เฟอร์นิเจอร์, ของแต่งบ้าน, Furniture, Khon Kaen, ขอนแก่น, สนใจ, ขาย, ซื้อ, ของแต่งบ้าน, ราคาถูก" />
  <meta name="description" content="เฟอร์นิเจอร์ ของตกแต่งบ้าน ขอนแก่น ภาคอีสาน ราคาประหยัด มีให้เลือกมากมาย" />

  <meta http-equiv="content-language" content="th" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="7 days" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag controller_name, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= stylesheet_link_tag       "responsive/tablet", media: "all" %>
  <%= stylesheet_link_tag    "responsive/mobile", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "galleria-1.2.9", media: "all" %>

  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class='head-bg'>
  <div class='page'>
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/menu" %>
  </div>
</div>

<div id="main-container">
  <div id="wrap">
    <%= render partial: "shared/flashes" %>
    <div class='content'>
      <%= yield %>
    </div>
    <%= "<hr />".html_safe unless (controller == "homes" && action == "index") %>
  </div>
  <%= render partial: "shared/sitemap" %>
</div>

<div class='footer-container page'>
  <%= render partial: "shared/footer" %>
</div>

</body>
</html>
