<!DOCTYPE html>
<html>
<head>
  <title>เฟอนิเจอร์</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag controller_name, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= stylesheet_link_tag       "responsive/tablet", media: "all" %>
  <%= stylesheet_link_tag    "responsive/mobile", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "galleria-1.2.9", media: "all" %>

  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class='head-bg'>
  <div class='page'>
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/menu" %>
  </div>
</div>

<div id="main-container">
  <div id="wrap">
    <%= render partial: "shared/flashes" %>
    <div class='content'>
      <%= yield %>
    </div>
  </div>
</div>

<div class='footer-container page'>
  <%= render partial: "shared/footer" %>
</div>

</body>
</html>
